/* RESPONSIVE 992px */
@media (max-width: 991.99px) {

    /* HERO */
    
    .container {
        margin: auto 50px;
    }

    .col-8, .col-4 {
        width: 100%;
    }
    
    .media-video {
        aspect-ratio: 1/1;
    }
    
    .info-rec {
        display: flex;
        flex-wrap: wrap;
        gap: 50px
    }

    /* BUTTON */

    .btn {
        justify-content: space-between;
    }

    .col-6 {
        width: calc(2 * 100% / 12)
    }

    .name-logo {
        display: none;
    }

    /* FOOTER */

    .row-foot{  
        text-align: center;
        justify-content: center;
    }

}

/* RESPONSIVE 768px */
@media (max-width: 767.99px) {

    /* NAVBAR */
    
    .navbar {
        text-align: center;
    }

    /* HERO */

    .container {
        margin: auto 50px;
    }

    .info-rec {
        display: block;
    }

    .col-8, .img-blog {
        width: 100%;
    }

    .title-sm, .ads-row {
        display: none;
    }

    /* BUTTON */

    .col-6 {
        width: 10%;
    }

    .container, .cta {
        padding: 15px;
    }
    
    /* ADS */

    .ads-cont {
        padding: 0;
    }

    /* FOOTER */

    .visit-more {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}