:root {
    --orange: #FA9518;
    --lightgray: #F6F5F3;
    --violet: #5B4874;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    width: 100%;
}

/* NAVBAR */

.navbar {
    font-family: "Nerko One", cursive;
    font-size: 2rem;
    color: var(--orange);
    padding: 12px;
}

/* HERO */

main {
    background-color: var(--lightgray);
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: auto 280px;
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12);
    background-color: var(--white);
}

.open-hero {
    color: grey;
}

.title-hero {
    font-size: 2.5rem;
    padding: 12px 0;
    color: var(--violet);
}

.ricept {
    padding: 40px;
    line-height: 2em;;
}

/* BUTTON */

.btn-sct {
    padding: 0;
}

.col-6 {
    width: 19%
}

.btn {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cta {
    background-color: var(--white);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-sm {
    padding: 0 3px;
}

/* BLOG */

.img-blog {
    float: left;
    width: 375px;
    padding: 12px 12px 12px 0;
}

.text-blog {
    font-size: 20px;
    line-height: 2em;
}

hr {
    border-bottom: 2px solid var(--orange);
    width: 15%;
}